body {
  margin: 20px 25px;
  font-family: Arial, Helvetica, sans-serif
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header, main, div, section, h2 {
  margin: 0px;
  padding: 0px;
}